.month_box{
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center; /*定义body的里的元素水平居中*/
    transition: .3s linear;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.month_items{
    position: absolute;
    text-align: right;
    transition: .3s linear;
}
.month_items.desibled{
    color: #555;
}
.month_items.active{
    color:#fff;
}
.seconds_box{
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center; /*定义body的元素垂直居中*/
    justify-content: center; /*定义body的里的元素水平居中*/
    transition: .3s linear;
    transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
}
.seconds_items{
    position: absolute;
    text-align: right;
    transition: .3s linear;
}
.seconds_items.desibled{
    color: #555;
}
.seconds_items.active{
    color:#fff;
}